---
import CardExperiencia from "../components/CardExperiencia/CardExperiencia.astro";
import fotoCabin from "../../public/foto.svg"
import sistema from "../../public/sistema.svg"
import festejos from "../../public/festejos.svg"
import fotos from "/fotos.mp4"
import evento from "/evento.mp4"
import celular from "/celularSistema.mp4"
---

<section id="seccionExperiencia" class=" mx-auto bg-white   flex flex-col items-center justify-center py-32  b backdrop-blur-sm w-full ">
    <div class="w-full flex items-center justify-start border-b py-2">
        <h1 class="text-5xl  font-bold pl-10">La Mejor Experiencia Para Tu Evento</h1>
    </div> 
    <div class="flex w-full flex-col items-stretch justify-evenly py-32 relative gap-10 md:px-20 h-[110vh]">

        <CardExperiencia  color='#FFAC6380' svg={fotoCabin} videoSrc={fotos} idContenedorVideo="contenedor1" idVideo="videoFotos"
        parrafo="No perderas un detalle. Imagenes capturadas con Camaras Full HD de ultima generacion"
        />
        <CardExperiencia color='#77B1FF50' svg={sistema} videoSrc={celular} idContenedorVideo="contenedor2" idVideo="celularSistema"
        parrafo="Sistema de desarga sin intenret los videos, en el momento men, comparte loq ue esta pasando en tiempo real woman!"
        />
        <CardExperiencia color='#FF77E550' svg={festejos} videoSrc={evento} idContenedorVideo="contenedor3" idVideo="evento"
        parrafo="Diseños de plantillas personalizadas, acordes a tu tematica, invitaciones, fisica y digital, topper, y monton de cosas mas chango"
        />
    </div>
</section>

<script>
    
    
    const observador = new IntersectionObserver(
        (entries) => {
            entries.forEach((entry) => {
                console.log(entry);
                if (entry.isIntersecting) {
                    entry.target.classList.add("bg-red-500");
                } else {
                    entry.target.classList.remove("bg-red-500");
                }
            });
        },
        {
            threshold: 0.5,
        },
    );

    const imgen = document.querySelectorAll("#cardPolaroid");

    observador.observe(imgen);

</script>