---
import { Image } from "astro:assets";
import ContenedorCars from "./ContenedorCars";
const { title, contenido, src, deg } = Astro.props;
---

<ContenedorCars deg={deg} client:load >
    <div class="flex-grow">
        <Image alt={title} src={src} width="300" height="200" class="rounded" />
    </div>
    <div class="flex flex-col h-full flex-grow w-full my-2">
        <h2 class="text-3xl font-bold my-2">{title}</h2>
        <p>
            {contenido}
        </p>
    </div>
</ContenedorCars>
